DATABASE_URL="postgresql://postgres:postgres@localhost:5432/things_review"                                                                                
BETTER_AUTH_SECRET="things-review-secret-min-32-chars-change-me"                                                                                          
BETTER_AUTH_URL="http://localhost:3000"                                                                                                                   
NEXT_PUBLIC_APP_URL="http://localhost:3000"